<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
        <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
        <title>{% block title %}skyDrive for bay{% endblock %}</title>
    </head>
    
    <body>
        <div id="container">
           
            <div id="sidebar">
                <div class="breadcrumbs">
                    <a href="/baykeeper/">Home</a>
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>



            <div id="content" class="flex">
                {% block content %}{% endblock %}
                <br class="clear"/>
            </div>



            <div id="footer">
                <p>Copyright &copy;   your ip is {{request.session.ip}}{%block footer%} {%endblock%} </p>
            </div>
        </div>
    </body>
</html>

