{%extends "baykeeper/base.html" %}
{%block sidebar%}
&rsaquo; 
{{breadcrumbs}}
{{file_id}}
{%endblock%}

{%block content%}
<script type="text/javascript">
    function getRadioTitle(name)
    {
        var list = document.getElementsByName(name)
        for(var i =0; i< list.length;i++){
            if(list.item(i).checked){
                title = list.item(i).getAttribute("title");
                return title;
            }
        }
    }

    function validate_form()
    {
        titlea = getRadioTitle("bay_log_a")
        titleb = getRadioTitle("bay_log_b")

        if(titlea == undefined || titleb == undefined){
            alert("Please choose 2 files to compare")
            return false
        }
        else if ( titlea == titleb)
            return true
        else{
            alert("It makes no sense to diff "+titlea+" with "+ titleb)
            return false
        }
    }
</script>
<div class="module" id="changelist">
<form action="{%url 'diff' %}" onsubmit  = "return validate_form()" method = "post">
    {%csrf_token%}
    <table id="result_list">
        <tr><th> File A</th><th> File B</th><th>View Detail</th></tr>
    {%for bay_log in filtered_log%}
    <tr class="{%cycle 'row1' 'row2'%}">
        <td>
            <input type="radio" name="bay_log_a" id = "bay_log_a{{forloop.counter}}" title="{{bay_log.file.name}}" value="{{bay_log.id}}"/>
            <label for="bay_log_a{{forloop.counter}}">{{bay_log}}</label><br/>
        </td>
        <td>
            <input type="radio" name="bay_log_b" id = "bay_log_b{{forloop.counter}}" title="{{bay_log.file.name}}" value="{{bay_log.id}}"/>
            <label for="bay_log_b{{forloop.counter}}">{{bay_log}}</label><br/>
        </td>
        <td>
            <a href="/baykeeper/bklog/{{ bay_log.id }}/">View Details</a>
        </td>
    </tr>
    {%endfor%}
</table>
<input type="submit" value="Compare 2 files"/>
</form>
</div>
    
{%endblock%}
