{%extends "baykeeper/base.html" %}
 {%block content%}
{% if bay_list %}
<script type ="text/javascript">
    $(document).ready(function(){
        $("button").click(function(){
            var ajxid = $(this).attr("ajxid");
             $("td#"+ajxid).text("qerying ...");
            //alert($(this).attr("ajxid"))
            $.ajax({
                url : 'query/'+ ajxid,
                type: 'GET',
                async: true,
                dataType: "json",

                error : function(jqXHR, textStatus, errorThrown) {

                    //var errInfo = document.getElementById("errInfo");
                    var errInfo =  $("td#"+ajxid);
                    tobeIter = jqXHR;
                    errInfo.innerHTML = "error";
                    for (x in tobeIter) {
                        errInfo.innerHTML += x + ":" + tobeIter[x] + "<br/>";
                    }
                    errInfo.innerHTML += "textStatus :::" + textStatus;
                },
                success : function(data) {
                    //$("[id=1]").text(data);
                    //$("td#"+ajxid).text(data);
                    $("td#"+ajxid).text("");
                    for( x in data)
                    $("td#"+ajxid).append(data[x]+"<br/>");
                }
            })

        });
    });

    function upall(){
        $("td.show").each(function(){
            var other = this;
            var ajxid = $(other).attr("id");
            $(other).text("connecting ...");
            $.ajax({
                url : 'query/' + ajxid,
                type: 'GET',
                async: true,
                dataType: "json",

                error : function(jqXHR, textStatus, errorThrown){
                    var errInfo = $(other);
                    tobeIter = jqXHR;
                    errInfo.innerHTML = "error";
                    for ( x in tobeIter){
                        errInfo.innerHTML += x + ":" + tobeIter[x]+"<br/>";
                    }
                    errInfo.innerHTML += "textStatus :::" + textStatus;
                },

                success: function(data){
                    $(other).text("");
                    for (x in data)
                        $(other).append(data[x]+"<br/>");
                    }
            });
        })
    }


</script>
<h1 id = "errInfo">View Files By Bay</h1>
<div class="module" id="changelist">
<table id="result_list">
    <tr>
        <th>bay name</th>
        <th><input type="button" value="backup all"  class = "addlink" onclick="upall()"/> </th>
        <th>backup status</th>
    </tr>
    {% for bay in bay_list %}
    <tr >
        <td><a href="/baykeeper/bay{{ bay.id }}/" >{{ bay.name }}</a></td>
        <td><button ajxid =  "{{bay.id}}" class = "addlink"> backup  </button></td>
        <td id = "{{bay.id}}" class="show"></td>
    </tr>
    {% endfor %}
</table>
</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if file_list %}
    <h1>View Files by File Name</h1>
    <ul>
    {% for file in file_list %}
        <li><a href="/baykeeper/file{{ file.id }}/">{{ file.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{%endblock%}

{%block footer%}
{{ip}}
{%endblock%}
