{%extends "baykeeper/base.html" %}
{%block sidebar%}
&rsaquo; {{breadcrumbs}}
{%endblock%}
{%block content%}
<style type="text/css">
   textarea 
    {
        height: 100%;
        width: 50%
    }
</style>
{% if md5 %}
{{ md5.content|linebreaks }} 

{%elif diff_list %}
<pre>
{%for line in diff_list%}
{{line}}{%endfor%}
</pre>
{%endif %}
{%endblock%}
